/* Encadrés */
aside {
    font-family: var(--sans-serif);
    font-size: var(--text-sm);
    border-top: 0.5px dotted rgb(25, 0, 95);
    border-bottom: 0.5px dotted rgb(25, 0, 95);
    padding: 21px 0 23px;
    margin: 25px 0 29px;
    break-inside: avoid;
}

aside>h4 {
    margin-top: -1px;
    margin-bottom: 26px;
}

aside>h4+p {
    margin-top: 0;
}

aside>h4~p>img:first-child {
    margin-top: 2px;
}

aside>p:last-child {
    margin-bottom: 2px;
}

aside+h4 {
    margin-top: 27px;
}

aside>p>img {
    margin-top: 18px;
}

p~ul,
aside>p~ul {
    margin-top: calc(var(--baseline) * -3);

}

aside[data-split-original],
aside[data-split-original][data-split-from] {
    border-bottom: none;
}

aside[data-split-from] {
    border-top: none;
}

aside[data-split-from]>h5:first-child {
    margin-top: -2px;
}

aside[data-split-from]>p:first-child {
    margin-top: -4px;
}

aside[data-split-from]>p:first-child>img:first-child {
    margin-top: 4px;
}

aside img {
    width: 100%;
}

/* Notes */
.footnotes {

    break-before: left;
    break-inside: avoid;
    font-family: var(--sans-serif);
    font-size: var(--text-xs);
}

.footnote-ref {
    font-size: 0.625rem;
    font-family: var(--sans-serif);
    margin-left: 0.125em;
    text-decoration: none;
}

.footnote-backref {
    display: inline-block;
    opacity: 0;
    position: absolute;
    left: -2rem;
    top: 0;
    width: 2em;
    height: 1.5em;
}

.footnotes>hr {
    border: none;
    border-top: 0.5px dotted rgb(25, 0, 95);
    margin: 23px 0 27px;
}

.footnotes ol {
    list-style-type: none;
    padding-left: 2rem;
    margin: 0;
    line-height: 1rem;
}

.footnotes ol>li {
    counter-increment: footnotes;
    break-inside: avoid;
    position: relative;
}

.footnotes ol>li:before {
    content: counter(footnotes)'.';
    position: absolute;
    left: -2rem;
}

.footnotes ol>li>p {

    border-left: none;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1rem;
    padding-left: 0px;
    padding-right: 0px;
}

.pagedjs_right_page .footnotes ol>li>p {
    border-right: 0px;
    width: inherit;
    padding-right: 0px;
}

::marker {
    text-decoration: underline;
}