/* Couverture & faux-titre */
/* .canvas {
    filter: grayscale(222);
    mix-blend-mode: difference;
} */

#cover {
    color: rgb(255, 255, 255);
    /* mix-blend-mode: overlay;
    color: white; */

}

#cover h1 {
    color: rgb(255, 255, 255);
    mix-blend-mode: exclusion;
}

#cover a {
    color: rgb(255, 255, 255);
    mix-blend-mode: exclusion;
}

#cover iframe,
#last-page iframe {
    cursor: -moz-grab;
    cursor: grab;
    position: absolute;
    top: calc(-1 * var(--pagedjs-margin-top));
    left: calc(-1 * var(--pagedjs-margin-left));
    width: calc(100% + var(--pagedjs-margin-left) + var(--pagedjs-margin-right));
    max-width: unset;
    height: calc(100% + var(--pagedjs-margin-top) + var(--pagedjs-margin-bottom));
    object-fit: cover;
}

#cover iframe {
    object-position: left;
    filter: grayscale(95%);
    mix-blend-mode: difference;
}

#last-page iframe {
    object-position: right;
}

#cover,
#first-page {
    font-family: var(--sans-serif);
}

#cover header,
#first-page header {
    position: relative;
}

#cover .author,
#first-page .author {
    margin-top: -3px;
    margin-bottom: 18.5px;
}

#cover footer,
#first-page footer {
    position: absolute;
    bottom: 2px;
    font-size: var(--text-sm);
}

#cover footer p,
#first-page footer p {
    margin: 0;
}

#first-page {
    counter-reset: page 1;
}

#last-page {
    height: 516px;
}