/* Images + Figures */
img {
    max-width: 100%;
}

figure {
    position: relative;
    margin: 26px 0 24px;
    break-inside: avoid;
}

figure>img {
    width: 100%;
    object-fit: cover;
    object-position: left;
    max-height: 570px;
}

figure>img[height="570"] {
    object-fit: contain;
}

figcaption,
caption {
    font-family: var(--sans-serif);
    font-style: italic;
    font-size: var(--text-xs);
    line-height: calc(var(--baseline) * 2);
    margin-top: 14px;
    margin-bottom: 27px;
    counter-increment: figures;
}

caption::before,
figcaption::before {
    content: "Fig. "counter(figures)" : ";
}

figcaption .credits {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    font-style: normal;
    opacity: .5;
    font-size: var(--text-xxs);
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

img[src*="media/encadre"] {
    border: 2px solid #CB4439;
}

img[src*="media/schema"] {
    object-fit: contain;
}

figure~p~h3 {
    margin-top: 27px !important;
}

/* Double page */
figure.double-page {
    break-before: left;
    break-after: left;
    margin-top: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 960px; */
}

figure.double-page>img {
    height: 100%;
    max-height: 570px;
    width: 100%;
    /* max-width: 960px; */
    object-position: center;
    mix-blend-mode: darken;
    object-fit: contain;
}

figure.double-page>figcaption {
    margin-top: 22px;
    margin-bottom: 0;
    max-width: calc(var(--pagedjs-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right))
}

.pagedjs_left_page figure.double-page {
    right: calc(-1 * var(--pagedjs-width) + var(--pagedjs-margin-right) - var(--pagedjs-margin-left));
}

.pagedjs_right_page figure.double-page {
    left: calc(-1 * var(--pagedjs-width) + var(--pagedjs-margin-right) - var(--pagedjs-margin-left));
}

.pagedjs_right_page figure.double-page>figcaption {
    display: none;
}