@media print {
    @page {
        size: 148mm 210mm;
        /* Format Digest */
        margin-top: 48px;
        margin-bottom: 64px;
        /*bleed: 6mm;
        marks: crop cross;*/
    }

    @page :left {
        margin-left: 50.253px;
        margin-right: 48px;

        @bottom-left {
            content: counter(page);
            font-family: var(--sans-serif);
            font-size: var(--text-xs);
            align-items: start;
            margin-top: 17px;
        }
    }

    @page :right {
        margin-left: 48px;
        margin-right: 50.253px;

        @bottom-right {
            content: counter(page);
            font-family: var(--sans-serif);
            font-size: var(--text-xs);
            align-items: start;
            margin-top: 17px;
        }

        /*@bottom-left {
          content: string(title);
          width: 110mm;
          font-family: var(--sans-serif);
          font-size: var(--text-xs);
          align-items: start;
          margin-top: 17px;
        }*/
    }

    @page :blank {
        @bottom-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }
    }

    @page :first {
        @bottom-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }
    }

    @page :last {
        @bottom-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }
    }

    @page :nth(3) {
        @bottom-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }
    }

    #cover,
    #first-page {
        break-after: right;
    }

    #colophon,
    #last-page {
        break-before: left;


    }

    h2 {
        break-after: right;
        break-before: right;
    }
}