#list-toc-generated {
    list-style: none;
}

#list-toc-generated a {
    text-decoration: none;
}

#list-toc-generated .toc-element a::after {
    content: " p. "target-counter(attr(href), page);
    float: right;
}

#list-toc-generated .toc-element-level-1 {
    margin-top: 25px;
    font-weight: bold;
}

#list-toc-generated .toc-element-level-2 {
    margin-left: 25px;
}


/* target-text(attr(href), before) doesn't work for now, replace with counters (see below)*/
/* #list-toc-generated .toc-element a::before{
    content: target-text(attr(href), before);
} */

/* counters */

#list-toc-generated {
    counter-reset: counterTocLevel1;
}

#list-toc-generated .toc-element-level-1 {
    counter-increment: counterTocLevel1;
    counter-reset: counterTocLevel2;
}

#list-toc-generated .toc-element-level-1::before {
    content: counter(counterTocLevel1) ". ";
    padding-right: 5px;
}

#list-toc-generated .toc-element-level-2 {
    counter-increment: counterTocLevel2;
}

#list-toc-generated .toc-element-level-2::before {
    content: counter(counterTocLevel1) ". "counter(counterTocLevel2) ". ";
    padding-right: 5px;
}

/*  leader() doesn't work for now, replace with the hack bellow */
/* #list-toc-generated .toc-element a::after{
    content: leader('.') " p. " target-counter(attr(href), page);
    float: right;
} */

/* hack for leaders */

#list-toc-generated {
    overflow-x: hidden;
}

#list-toc-generated .toc-element::after {
    content: "⇢";
    float: left;
    width: 0;
    padding-left: 5px;
    letter-spacing: 2px;
}

#list-toc-generated .toc-element {
    display: flex;
}

#list-toc-generated .toc-element a::after {
    position: absolute;
    right: 0;
    background-color: white;
    padding-left: 6px;
}

#list-toc-generated .toc-element a {
    right: 0;
}


table {
    font-family: var(--sans-serif);
    font-size: var(--text-xs);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 25px;
    break-inside: avoid;
}

table td,
table th {
    border: 1px solid black;
    vertical-align: top;
    padding: .625em .5rem;
}

table th {
    font-weight: normal;
}

caption {
    caption-side: bottom;
    text-align: left;
    margin-top: 11px;
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

tr.text-xxs>td,
td.text-xxs,
tr.text-xxs>th,
th.text-xxs {
    padding: .6em .5rem;
}

#tableau4 {
    break-before: left;
}

#tableau4bis {
    margin-bottom: 70px;
}