/* Texte et listes */
p,
ul,
ol,
small {
    line-height: calc(var(--baseline) * 2.35);
    margin: calc(var(--baseline) * 2.35) 0;
}

.pagedjs_right_page p {
    border-right: 25px solid rgb(25, 0, 49);
    width: 511px;
    padding-right: 25px;
}

.pagedjs_left_page p {
    border-left: 25px solid rgb(25, 0, 49);
    padding-left: 25px;
    margin-left: -51px;
}


.pagedjs_right_page ul {
    border-right: 25px solid rgb(25, 0, 49);
    width: 512px;
    padding-right: 25px;
}

.pagedjs_left_page ul {
    border-left: 25px solid rgb(25, 0, 49);
    padding-left: 25px;
    margin-left: -51px;
}

ul {
    padding-left: 1rem;
}

ul>li {
    list-style: none;
    padding-left: 0.5rem;
}

ul>li:before {
    content: "—";
    font-family: var(--sans-serif);
    position: absolute;
    left: 0;
}

ul>li>ul {
    margin: 0;
}

p>small,
.text-xs {
    font-size: var(--text-xs);
}

.text-xxs {
    font-size: var(--text-xxs);
}


/* Indices et exposants */
sup,
sub {
    line-height: 0;

}

sup>a {
    color: crimson !important;
}



/* Citations */
blockquote {
    margin: 25px 0 29.5px;
    padding: 16px 0;
    border-top: 0.5px dotted rgb(25, 0, 95);
    border-bottom: 0.5px dotted rgb(25, 0, 95);
    font-size: var(--text-lg);
}

blockquote>p {
    margin: 4px 0;
    line-height: 24px;
    border-right: none !important;
}

blockquote>footer {
    font-family: var(--sans-serif);
    font-size: var(--text-sm);
    margin-bottom: 10px;
    margin-top: 5px;
}

blockquote+p {
    margin-top: 21px;
}