h1,
h2,
h3,
h4,
h5 {
    font-family: var(--titre);
    font-weight: normal;
    break-inside: avoid;
    letter-spacing: -0.005em;
    position: relative;
    left: -0.015em;
    /* alignement optique */
}

h1 {
    font-size: var(--text-3xl);
    line-height: calc(var(--baseline) * 7);
    margin-top: 0;

}

h2 {

    font-size: var(--text-2xl);
    line-height: calc(var(--baseline) * 5);
    margin-top: 0;
    counter-increment: chapters;
    string-set: title content(text);
}

h2:before {
    content: "Partie n°"counter(chapters);
    display: block;
    font-size: var(--text-xl);
    line-height: calc(var(--baseline) * 4);
    margin-bottom: 23px;
    margin-top: 1px;
}

h3 {
    font-size: var(--text-xl);
    line-height: calc(var(--baseline) * 4);
    margin-bottom: 23px;
    break-before: always;
}

p+h3 {
    margin-top: 33px;
}

figure+h3 {
    margin-top: 32px;
}

h3+p {
    margin-top: 23px;
}


h4 {
    font-size: var(--text-lg);
    line-height: calc(var(--baseline) * 3);
    margin-bottom: 18px;
    margin-top: 30px;
}

figure+p+h4 {
    margin-top: 33px;
}

h4+p {
    margin-top: 18px;
}


h5 {
    font-size: var(--text-base);
    line-height: calc(var(--baseline) * 3);
    margin: 0 0 1px;
}

h5+p {
    margin-top: 0;
}

h5+ul {
    margin-top: -1px;
}